---
// Layout
import Layout from "../../../layouts/Layout.astro"

// Components
import Header from "../../../components/Header.astro"
import BlogCard from "../../../components/BlogCard.astro"
import Pagination from "../../../components/Pagination.astro"

// Astro Stuff
import type { GetStaticPathsOptions } from "astro"
import { getCollection } from "astro:content"

// Util
import getTags from "../../../utils/getTags"
import getPostsByTag from "../../../utils/getPostsByTag"

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const posts = await getCollection("blog")
	const tags = getTags(posts)

	return tags.flatMap(({ slugTag, originalTag }) => {
		const tagPosts = getPostsByTag(posts, slugTag)

		return paginate(tagPosts, {
			params: { tag: slugTag },
			props: { originalTag },
			pageSize: 3,
		})
	})
}

const { page, originalTag } = Astro.props
---

<Layout>
	<Header />
	<main class="main-container">
		<h1>Posts Sorted by : {originalTag}</h1>
		<p>Viewing all posts tagged with {originalTag}</p>
		<ul class="post-list-container">
			{
				page.data.map(({ data, slug }) => (
					<BlogCard href={`/posts/${slug}`} blogInfo={data} />
				))
			}
		</ul>
		<Pagination page={page} />
	</main>
</Layout>
<style></style>
