---
// Astro
import { getCollection } from "astro:content"

// Layout
import Layout from "../../../layouts/Layout.astro"
import Header from "../../../components/Header.astro"

// Components
import FormattedDate from "../../../components/Date/FormattedDate.astro"

// Icons
import socialIcons from "../../../assets/socialIcons"

export async function getStaticPaths() {
	const posts = await getCollection("blog", ({ data }) => !data.draft)

	const postResult = posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}))

	return postResult
}

const { post } = Astro.props

const { Content } = await post.render()
---

<Layout title={`Posts | ${post.data.title}`}>
	<Header />
	<main class="main-container">
		<h1>{post.data.title}</h1>
		<FormattedDate
			updateDate={post.data.modDatetime}
			publishDate={post.data.pubDatetime}
		/>

		<!-- Links Section -->
		{
			(post.data.github || post.data.link) && (
				<div class="blog-links">
					Links:
					{post.data.github && (
						<a href={post.data.github} title="View on Github">
							<Fragment set:html={socialIcons["Github"]} />
						</a>
					)}
					{post.data.link && (
						<a href={post.data.link} title="View Link">
							<Fragment set:html={socialIcons["Link"]} />
						</a>
					)}
				</div>
			)
		}

		<article class="markdown">
			<Content />
		</article>
	</main>
</Layout>

<style>
	.main-container {
		padding-bottom: 80px;
	}

	.blog-links {
		/* Spacing */
		margin-top: 17px;

		/* Flex Box */
		display: flex;
		gap: 16px;

		/* Text */
		font-size: 19px;
	}

	h1 {
		color: light-dark(var(--light-accent), var(--dark-accent));
	}
</style>
